@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Prompt:wght@300&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:"Josefin Sans";
}
html{
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #041C32;
}
/* form */
.card{
    border: 1px solid #041C32;
    border-radius: 15px;
}
.card-img{
    height: 350px;
    width: 100%;
    border-radius: 15px;
}
.card-text{
    text-align: center;
    color: black;
    font-weight: 800;
}
.row-r{
    padding: 30px;
}
.container{
    padding: 100px;
    color: #ECB365;
    font-weight: 800;
}
.heading{
    text-align: left;
    color: #ECB365;
    font-weight: 800;
}
.form{
    padding: 20px;
    display: block;
    border-radius: 8px;
}
label{
    font-weight: 800;
}
.row{
    margin-bottom: 20px;
}
.row-1{
    text-align: center;
}
.login-img{
    width: 100%;
    height: 100%;
}
.log-btn{
    width: 100%;
    background-color: #ECB365;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.links{
    color: #ECB365;
    text-decoration:none ;
}
.links:hover{
    color: #ECB365;
}
@media only screen and (max-width: 900px){
    .container{
        padding: 20px;
    }
    .form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 8px;
    }
    .row{
        margin-bottom: 10px;
    }
    .log-btn{
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    /* form */
    .container{
        padding: 20px;
    }
    .form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 8px;
    }
    .row{
        margin-bottom: 10px;
    }
    .log-btn{
        width: 100%;
    }
    .card-img{
        height: 200px;
    }
    .row-r{
        padding: 0%;
    }
}