@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Prompt:wght@300&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:"Josefin Sans";
}
html{
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #7900ff;
}
/* form */
.container{
    padding: 100px;
    background-color: #7900ff;
    color: #93ffd8;
    font-weight: 800;
}
.heading{
    text-align: center;
    color: #93ffd8;
    font-weight: 800;
}
.form{
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 8px;
}
input{
    background-color: #7900ff;
}
label{
    font-weight: 800;
}
.row{
    margin-bottom: 20px;
}
.row-1{
    text-align: center;
}
.log-btn{
    width: 100%;
    background-color: #93ffd8;
    color: black;
}
.links{
    color: #93ffd8;
    text-decoration:none ;
}
.links:hover{
    color: #93ffd8;
}
@media only screen and (max-width: 900px){
    .container{
        padding: 20px;
    }
    .heading{
        text-align: center;
        color: #93ffd8;
        font-weight: 800;
    }
    .form{
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 8px;
    }
    .row{
        margin-bottom: 10px;
    }
    .row-1{
        text-align: center;
    }
    .log-btn{
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    /* form */
    .container{
        padding: 50px;
    }
    .heading{
        text-align: center;
        color: #93ffd8;
        font-weight: 800;
    }
    .form{
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 8px;
    }
    .row{
        margin-bottom: 10px;
    }
    .row-1{
        text-align: center;
    }
    .log-btn{
        width: 100%;
    }
}