@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Prompt:wght@300&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:"Josefin Sans";
}
html{
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0;
    padding: 0;
}
/* form */
.card{
    border: 1px solid #041C32;
    border-radius: 15px;
}
.card-img{
    height: 350px;
    width: 100%;
    border-radius: 15px;
}
.card-text{
    text-align: center;
    color: black;
    font-weight: 800;
}
.row-r{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.row-field{
    margin-bottom: 10px;
}
.container{
    margin-top: 70px;
    color: #27333f;
    font-weight: 800;
    border: 2px solid white;
    box-shadow: 8px 10px 24px 0px rgba(39,51,63,0.52);
-webkit-box-shadow: 8px 10px 24px 0px rgba(39,51,63,0.52);
-moz-box-shadow: 8px 10px 24px 0px rgba(39,51,63,0.52);
}
.heading{
    text-align: left;
    color: #27333f;
    font-weight: 800;
}
.form{
    display: block;
    border-radius: 8px;
}
label{
    font-weight: 800;
}
.row-1{
    background-color: #27333f;
}
.login-img{
    width: 100%;
    height: 100%;
}
.log-btn{
    width: 100%;
    background-color: #27333f;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.pass-row{
    margin-bottom: 0%;
}
.links{
    color: #27333f;
    text-decoration:none ;
    text-align: right;
    margin-right: 0%;
}
.links:hover{
    color: #ECB365;
}
@media only screen and (max-width: 900px){
    .container{
        padding: 10px;
        padding-top: 0%;
    }
    .form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 8px;
    }
    .row{
        margin-bottom: 10px;
    }
    .log-btn{
        width: 100%;
    }
    .row-r{
        padding: 10px;
        margin-top: 20px;
    }
    
}
@media only screen and (max-width: 600px){
    /* form */
    .container{
        padding: 0px;
    }
    .form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 8px;
    }
    .login-img{
        width: 80%;
        height: 100%;
    }
    .row-1{
        padding: 0px;
    }
    .log-btn{
        width: 100%;
    }
    .card-img{
        height: 200px;
    }
    .row-r{
        padding: 30px;
        margin-top: 10px;
    }
    .pass-row{
        margin-bottom: 0%;
    }
    .links{
        margin-bottom: 0%;
    }
}